@font-face {
  font-family: "iconfont"; /* Project id 3403632 */
  src: url('iconfont.woff2?t=1652670322790') format('woff2'),
       url('iconfont.woff?t=1652670322790') format('woff'),
       url('iconfont.ttf?t=1652670322790') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e611";
}

.icon-shouye1:before {
  content: "\e612";
}

.icon-shouye2:before {
  content: "\e613";
}

.icon-shouye3:before {
  content: "\e614";
}

.icon-shouye4:before {
  content: "\e615";
}

.icon-shouye5:before {
  content: "\e616";
}

.icon-shouye6:before {
  content: "\e617";
}

.icon-shouye7:before {
  content: "\e618";
}

.icon-shouye8:before {
  content: "\e619";
}

.icon-shouye9:before {
  content: "\e61a";
}

.icon-shouye10:before {
  content: "\e61b";
}

.icon-shouye11:before {
  content: "\e61c";
}

.icon-shouye12:before {
  content: "\e61d";
}

.icon-shouye13:before {
  content: "\e61e";
}

.icon-shouye14:before {
  content: "\e61f";
}

.icon-shouye15:before {
  content: "\e620";
}

.icon-shouye16:before {
  content: "\e621";
}

.icon-shouye17:before {
  content: "\e622";
}

.icon-shouye18:before {
  content: "\e625";
}

.icon-shouye19:before {
  content: "\e627";
}

.icon-shouye20:before {
  content: "\e628";
}

.icon-shouye21:before {
  content: "\e635";
}

